h1, h2, h3, h4, p{
    color: #000;
 
}

i{
    font-size: 60px;
    color: #FFCA2C;
    margin: 0 5px;
}
i:hover{
    color: #d7a200;
}

.xyz {
    background-size: auto;
    margin-bottom: 10px;
}


.btn{
    color: #4DAD5B;
    font-size: 18px;
    font-weight: bolder;
    margin-right: 5px;
    border: 2px solid #4DAD5B;
}

.btn-volver{
    color: #4DAD5B;
    font-size: 18px;
    font-weight: bolder;
    margin-right: 5px;
    border: 2px solid #4DAD5B;
    margin-bottom: 20px;
}

.m-top{
    margin-top: 30px;
}




.grey {
    background-color: grey;
}

.yellow {
    background-color: #FFCA2C;
}

.m-bottom{
    margin-bottom: 30px;
}

.fa-info{
    font-size: 18px;
}


.card__element--user-img img,
.card__element--user-img svg {
  --size: 65px;
  
  background-color: #fff;
  border: 2px solid #000;
  left: 10px;
  width: var(--size);
}

.card__element--user-img svg {
  background-color: hsla(51, 61%, 55%, 0.836);
  fill: #000;
}

.block{
    display: inline-block;
}

.name{
    font-size: 20px;
}

p{
    margin-bottom: 0;
}

.txt-center{
    text-align: center;
}